@import '/src/scss/appearance';
@import '/src/scss/flex';
@import '/src/scss/media';

.container{
  width: min(520px, 100vw);
  box-sizing: border-box;
  min-height: 110px;
  padding: 5px 20px;
  font-size: 1.2em;
  font-weight: bold;
  position: fixed;
  z-index: 1000;
  top: 10px;
  left: calc(50vw - 250px);
  @include flex(row nowrap, space-evenly);
  transform-origin: 50% 0;
  border-radius : radius("regular");
}
img{
  height: 100px;
  clip: rect(30px, 0, 0, 0);
}

.error{
  background-color: color("warn");
}
.success{
  background-color: color("success");
}
.info{
  background-color: color("info");
}

@include normal{
  .container{
    transform: scale(1.2);
  }
}
@include hd{
  .container{
    transform: scale(1.4);
  }
}
@include _2k{
  .container{
    transform: scale(1.7);
  }
}

@media screen and (max-width: 550px){
  .container{
    left: 0;
  }
}
