@import '/src/scss/appearance';
@import '/src/scss/flex';
@import '/src/scss/fonts';
@import '/src/scss/media';

.card{
  width: 100px;
  height: 100px;
  background: background(1) url('/assets/images/holeBg.png') center/cover;
  border-radius: radius("regular");
  cursor: pointer;
  &::before{
    content: '';
    display: inline-block;
    position: absolute;
    width: 100px;
    height: 100px;
    transform: translate(-19px, -21px);
    border:2px color("pink");
    border-radius: radius("regular");
    border-style: dashed solid ;
    background:rgb(246, 26, 151, 0.12);
    z-index: 1;
    transition: 300ms all ease;
  }
}
.card:hover::before{
  background: rgba(16, 90, 55, 0.2);
  transform: translate(3px, 3px);
  width: 90px;
  height: 90px;
}
.cardHelper{
  &::before{
    transform: translate(3px, 3px);
    width: 90px;
    height: 90px;
  }
}

.cardInner{
  position: relative;
  @include flex(column nowrap);
  width: 150px;
  transform: translate(-23px, 14px);
  font-family: $impact;
}

.cardSvg{
  overflow: visible;
}


@include tablet{
  .cardInner{
    width: 100px;
    transform: none;
  }
  .card{
    background: none;
    display: flex;
    &::before{
      display: none;
    }
  }
  span{
    font-size: 0.8em;
  }
}
