
.header{

  position: relative;
  font-family:Impact, Charcoal, sans-serif;
  width: 100vw;
  text-align: center;
}
.header::before{
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background: radial-gradient(rgb(7, 138, 181) , rgb(10, 10, 10) 57%);
  width: min(700px, 100vw);
  height: 300px;
  left: 50%;
  top: 32%;
  transform: translateX(-50%);
  z-index: -1px;
  filter: blur(103px)
}
.title{
  font-size: min(16em, 22vw);
  color: rgb(0, 0, 32);
  font-weight: bold;
  background: radial-gradient(farthest-side at 50% 100%, rgb(2, 55, 79) 60%,rgb(1, 9, 26) 120%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(5, 11, 23);
  z-index: -1;
  width: max-content;
  margin: 0 auto;
}
.title2{
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 18px;
  top: 60%;
  font-size: min(7em, 11vw);
  z-index: 1;
}

@media screen and (max-width: 1165px){
  .title{
    -webkit-text-stroke-width: 0;
  }
}

@media screen and (max-width: 1000px){
  .title2{
    letter-spacing:normal;
    font-size: 5vw;
    letter-spacing: 7px;
    top: 50%;
    color: #ffffff30;
    font-weight: bold;
  }
  .title{
    font-size: 8vw;
    background: radial-gradient(closest-side at 55% 51%, rgb(2, 55, 79) 40%,rgb(1, 9, 26) 124%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    height: max-content;
  }
  .header::before{
    width: 30vw;
    height: 150px;
    transform: none;
    top: 30vw;
    background: radial-gradient(rgb(7, 138, 181) , rgb(10, 10, 10) 150%);

  }
  .header{
    writing-mode: vertical-lr;
    text-orientation: upright;
    width: max-content;
    position:absolute;
    left: 20px;
    top: 600px;
  }
}
