.container{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.indicator{
  border-radius: 2px;
  border: 1px solid white;
  height: 10px;
  width: 100px;
  background-color: rgba(11, 202, 255, 0.2);

}
.load{
  background-color: rgb(110, 202, 255);
  box-shadow: 0 0 8px 0px rgb(110, 202, 255);
  height: 10px;
}
