<div class="container" [ngClass]="{'container' : true, 'expanded' : menu?.isOpen}">
  <ng-container *ngIf="!!itemSummary">
    <app-item-summary [summaryData]="itemSummary"></app-item-summary>
  </ng-container>

  <div class="menu">
    <ul *ngIf="menu?.isOpen" [@expand]>
      <li *ngFor="let item of menu.subItems" class="item">
        <app-menu-item [menuItem]="item" [parentRadius]="30" [index]="0" [depth]="0"></app-menu-item>
      </li>
    </ul>
  </div>

  <section class="header" *ngIf="!menu?.isOpen" [@fade]>
    <app-card-menu></app-card-menu>

    <div class="titleBox">
      <p class="name">Szabó Adrián</p>
      <p class="title">Front-End Developer</p>
    </div>
  </section>

  <section class="article">
    <span class="about" *ngIf="!menu?.isOpen" [@fade]>
      Két éve foglalkozom programozással, mely során a legtöbb tapasztalatot Angular keretrendszer használatában
      szereztem. Tudj meg többet rólam és dolgozzunk együtt!
    </span>

    <div [ngClass]="
          menu?.isOpen ? 'menuOpened openButton' : 'menuClosed openButton'
        " (click)="toggleTechMap()"></div>
  </section>


  <div class="mapLabels" *ngIf="menu?.isOpen" [@fade]>
    <span class="mapLabel">Tech Stack</span>
    <div class="rightSide">
      <span class="mapLabel">Personal</span>
      <span class="mapLabel">Desired</span>
    </div>
  </div>
</div>

<div class="mobileView" *ngIf="isMobile | async">
  <div class="hero">
    <div class="titleBox">
      <p class="name">Szabó Adrián</p>
      <p class="title">Front-End Developer</p>
    </div>
    <span class="about">Két éve foglalkozom programozással, mely során a legtöbb tapasztalatot Angular
      keretrendszer használatában szereztem. Tudj meg rólam többet és dolgozzunk együtt!</span>
    <div class="profilePic"></div>
  </div>
  <app-card-menu></app-card-menu>
  <div class="middle">
    <div class="safari-wrapper">
      <app-header></app-header>
    </div>
    <app-tile-list></app-tile-list>
  </div>
</div>


<app-tile-list *ngIf="!(isMobile | async)"></app-tile-list>
