
<div class="container">
  <div class="menu">
    <ul *ngIf="menu?.isOpen" [@expand] >
      <li *ngFor="let item of menu.subItems" class="item">
        <app-menu-item [menuItem]="item" [parentRadius]="30" [index]="0" [depth]="0"></app-menu-item>
      </li>
    </ul>
  </div>

  <section class="header" *ngIf="!menu?.isOpen">

    <div class="cardContainer" [@cardContainer]>
      <ng-container *ngFor="let card of sideMenuCards" >
     <app-side-menu-card [card]="card"></app-side-menu-card>
    </ng-container>
  </div>
  <div class="titleBox" [@fade] *ngIf="!menu?.isOpen">
    <p class="name">Szabó Adrián</p>
    <p class="title">Front-End Developer</p>
  </div>
</section>

  <section class="article">

    <span class="about" *ngIf="!menu?.isOpen" [@fade]>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur ad reprehenderit tenetur deleniti, sequi nulla inventore praesentium fugit officiis, itaque facilis! Odit, provident nesciunt! Itaque, iusto! Cumque a magnam quo?
      Incidunt aut laboriosam, impedit blanditiis, neque illo at tempora et culpa iure unde cupiditate, magni maxime quam quisquam facilis cum. Quaerat nulla ab mollitia provident, quod amet temporibus autem totam!</span>

      <div [ngClass]="menu?.isOpen ? 'menuOpened openButton' : 'menuClosed openButton'" (click)="toggleTechMap()">
      </div>
    </section>
    <ng-container *ngIf="!!itemSummary">
      <app-item-summary [summaryData]="itemSummary"></app-item-summary>
    </ng-container>
    </div>

