@import '/src/scss/appearance';
@import '/src/scss/flex';
@import '/src/scss/fonts';
@import '/src/scss/media';

.item{
  position: absolute;
  list-style-type: none;
  border-radius: radius("circle");
  width: 60px;
  height: 60px;
  z-index: -1;
  transition: 500ms all ease;

}
.menuOpened{
  width: 80px;
  height: 80px;
  border: 1px solid rgb(170, 244, 255);
  box-shadow: 0 0 10px -3px rgb(0, 221, 255);
  background: url('../../assets/images/brainPng.png') center/contain;
  border-radius: radius("circle");
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms all ease;
}



.menuClosed{
  width: 250px;
  height: 250px;
  background: url('../../assets/images/profilePic.jpg') center/cover no-repeat;
  box-shadow: 0 0 10px 2px #182132 inset;
  border-radius: 10px 100px 10px 100px;
  top: 60%;
  left: 56%;
  transform: translate(4%, -45%);
  transition: 500ms all ease;

}

.openButton{
  position: absolute;
  cursor: pointer;
}

.menu{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}

.name{
  font-family: $impact;
  font-size: 2em;
  width: max-content;
}
.titleBox{
  margin-left: 17px;
}
.title{
  color: #1b6687;
}
.about{
  width: 300px;
  display: inline-block;
}

.container{
  @include flex(column nowrap, space-between, initial);
  width: 100%;
  height: 100%;

}
.header{
  padding: 10px;
  @include flex(row nowrap, flex-start);
  box-sizing: border-box;
}
.article{
  padding: 40px;
  box-sizing: border-box;
  @include flex(row nowrap, flex-start, initial);
}

.mobileView{
  display: none;
}

.mapLabels{
  @include flex(row nowrap, space-between);
  width: 700px;
  height: 550px;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  transition: 500ms all ease;
  & .rightSide{
    @include flex(column nowrap, space-evenly, initial);
    text-align: end;
    height: 100%;
  }
}

.mapLabel{
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 1.5em;
  font-weight: bold;
  opacity: 0.1;
  text-shadow: 0 3px color("blue");
}
@include tablet{
  .container{
    display: none;
  }
  .mobileView{
    @include flex(column nowrap, $align: center);
  }
  .hero{
    width:100vw;
    height:500px;
    overflow: hidden;
    @include flex(column nowrap, space-between);
    text-align: center;
    background: linear-gradient(to right bottom, background(1), color("pink"))
  }
  .profilePic{
    background: url('../../assets/images/profilePic.jpg') center/cover no-repeat;
    width:130%;
    height:300px;
    border-radius: 50% 50% 0 0;
  }

  .titleBox, .about{
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .titleBox{
    margin-top: 20px;
  }
  .about{
    width: 80vw;
    display: inline-block;
  }

  article{
    width: 100vw;
    height: 500px;
  }
  .middle{
    @include flex(row nowrap, $align: initial);
    width: 100vw;
  }
  .safari-wrapper{
    width: 79px;
    height: 711px;
  }
}
