.item{
  position: absolute;
  list-style-type: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: -1;
  transition: 500ms all ease;

}
.menuOpened{
  width: 80px;
  height: 80px;
  border: 1px solid rgb(170, 244, 255);
  box-shadow: 0 0 10px -3px rgb(0, 221, 255);
  background: url('../../assets/images/brainPng.png') center/contain;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 500ms all ease;
}



.menuClosed{
  width: 250px;
  height: 250px;
  background: url('../../assets/images/profilePic.jpg') center/cover no-repeat;
  box-shadow: 0 0 10px 2px #182132 inset;
  border-radius: 10px 100px 10px 100px;
  top: 60%;
  left: 56%;
  transform: translate(4%, -45%);
  transition: 500ms all ease;

}



.openButton{
  position: absolute;
  cursor: pointer;
}


.menu{
  position: absolute;
  width: 80px;
  height: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
}


span, p{

}
.name{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2em;
  width: max-content;
}
.titleBox{
  margin-left: 17px;
}
.title{
  color: #1b6687;
}
.about{
  width: 300px;
  display: inline-block;
}

.container{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: space-between;

}
.header{
  padding: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}
.article{
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.mobileView{
  display: none;
}
@media screen and (max-width: 1000px){
  .container{
    display: none;
  }
  .mobileView{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .hero{
    width:100vw;
    height:500px;
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right bottom, #121a28, rgb(246, 26, 151))
  }
  .profilePic{
    background: url('../../assets/images/profilePic.jpg') center/cover no-repeat;
    width:130%;
    height:300px;
    border-radius: 50% 50% 0 0;
  }

  .titleBox, .about{
    margin: 0;
    position: relative;
    z-index: 1;
  }
  .titleBox{
    margin-top: 20px;
  }
  .about{
    width: 80vw;
    display: inline-block;
  }

  article{
    width: 100vw;
    height: 500px;
  }
}
