<div class="container" [ngClass]="{'container' : true, 'expanded' : menu?.isOpen}">
  <ng-container *ngIf="!!itemSummary">
    <app-item-summary [summaryData]="itemSummary"></app-item-summary>
  </ng-container>

  <div class="menu">
    <ul *ngIf="menu?.isOpen" [@expand]>
      <li *ngFor="let item of menu.subItems" class="item">
        <app-menu-item [menuItem]="item" [parentRadius]="30" [index]="0" [depth]="0"></app-menu-item>
      </li>
    </ul>
  </div>

  <section class="header" *ngIf="!menu?.isOpen" [@fade]>
    <app-card-menu></app-card-menu>

    <div class="titleBox">
      <p class="name">Szabó Adrián</p>
      <p class="title">Front-End Developer</p>
    </div>
  </section>

  <section class="article">
    <span class="about" *ngIf="!menu?.isOpen" [@fade]>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Consequuntur
      ad reprehenderit tenetur deleniti, sequi nulla inventore praesentium
      fugit officiis, itaque facilis! Odit, provident nesciunt! Itaque, iusto!
      Cumque a magnam quo? Incidunt aut laboriosam, impedit blanditiis, neque
      illo at tempora et culpa iure unde cupiditate, magni maxime quam
      quisquam facilis cum. Quaerat nulla ab mollitia provident, quod amet
      temporibus autem totam!</span>

    <div [ngClass]="
          menu?.isOpen ? 'menuOpened openButton' : 'menuClosed openButton'
        " (click)="toggleTechMap()"></div>
  </section>


  <div class="mapLabels" *ngIf="menu?.isOpen" [@fade]>
    <span class="mapLabel">Tech Stack</span>
    <div class="rightSide">
      <span class="mapLabel">Personal</span>
      <span class="mapLabel">Desired</span>
    </div>
  </div>
</div>

<div class="mobileView" *ngIf="isMobile | async">
  <div class="hero">
    <div class="titleBox">
      <p class="name">Szabó Adrián</p>
      <p class="title">Front-End Developer</p>
    </div>
    <span class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur
      ad reprehenderit tenetur deleniti, sequi nulla inventore praesentium
      fugit officiis, itaque facilis!</span>
    <div class="profilePic"></div>
  </div>
  <app-card-menu></app-card-menu>
  <div class="middle">
    <div class="safari-wrapper">
      <app-header></app-header>
    </div>
    <app-tile-list></app-tile-list>
  </div>
</div>


<app-tile-list *ngIf="!(isMobile | async)"></app-tile-list>
