.container{
  position: relative;
  height: 100%;
}

form{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.identity{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.identity input[type="text"]{
  border-radius: 10px;
  padding: 5px;
  outline: none;
  border: none;
  background-color: #121a28;
}
.identity input[type="checkbox"]{
  width: 30px;
  height: 30px;
  position:absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
input[type="number"]{
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkboxContainer{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.checkboxLabel{
  padding-left: 35px;
}
.checkMark{
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: 10px;
  background-color: rgb(110, 202, 255);
  box-shadow: 0 0 8px 0px rgb(110, 202, 255);
}
.checkboxBorder{
  position: absolute;
  z-index: -1;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background: #121a28;
}

.ratings{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 60px;
}
.comment{
  display: flex;
  flex-flow: column nowrap;
  height: 120px;
  justify-content: space-between;
}
.comment textarea{
  background: #121a28;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
  resize: none;
}
.buttons{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
button{
  border-radius: 10px;
  font-family: Impact, Charcoal, sans-serif;
  padding: 10px;
  border: 1px solid white;
  box-shadow: none;
  transition: 500ms all ease;
}
button:nth-child(1){
  background-color: rgba(246, 26, 151, 0.2);
}
button:nth-child(2){
  background-color: rgba(110, 202, 255, 0.2)
}
button:nth-child(1):hover{
  background-color: rgb(246, 26, 151);
  box-shadow: 0 0 8px 0px rgb(246, 26, 151);
}
button:nth-child(2):hover{
  background-color: rgb(110, 202, 255);
  box-shadow: 0 0 8px 0px rgb(110, 202, 255);
}

.ratings label{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 290px;
}
.ratings label span{
  width: 100px;
}

