@import '/src/scss/appearance';
@import '/src/scss/flex';
@import '/src/scss/media';

.container{
  position: relative;
  z-index: 1;
  min-height: 400px;
  width: min(700px, 100vw);
  margin: 0 auto;
  border-radius: 10px;
  transition: 500ms all ease;
  background-color: background(3);
}

form{
  @include flex(column nowrap, space-between, initial, $rowGap: 30px);
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

.identity{
  @include flex($justify: space-between, $align: initial, $rowGap: 20px);
  & input[type="text"]{
    border-radius: radius("regular");
    padding: 5px;
    outline: none;
    border: none;
    background-color: background(1);
  }
  & input[type="checkbox"]{
    width: 30px;
    height: 30px;
    position:absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
  }
}
input[type="number"]{
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.checkboxContainer{
  @include flex(row nowrap, initial);
}
.checkboxLabel{
  padding-left: 35px;
}
.checkMark{
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  border-radius: radius("regular");
  background-color: color("blue");
  box-shadow: shadow("blue");
}
.checkboxBorder{
  position: absolute;
  z-index: -1;
  border-radius: radius("regular");
  width: 30px;
  height: 30px;
  background: background(1);
}

.ratings{
  @include flex($justify: space-between, $align: initial, $rowGap: 20px);
  height: 60px;
  & label{
    @include flex(row nowrap, space-between, initial);
    width: 300px;
    & span{
      width: 100px;
    }
  }
}
.comment{
  @include flex(column nowrap, space-between, initial);
  height: 120px;
}
.comment textarea{
  background: background(1);
  border-radius: radius("regular");
  outline: none;
  border: none;
  padding: 10px;
  resize: none;
  transition: 500ms all ease;
}
.buttons{
  @include flex(row nowrap, space-evenly, initial);
}

@include tablet{
  .ratings{
    height: initial;
  }
  app-rating-list{
    display: block;
  }
}

@media screen and (max-width: 650px){
  .identity{
    flex-flow: column nowrap;
    max-width: 100vw;
  }
  .ratings{
    flex-flow: column nowrap;
    align-items: center;
  }
  form{
    align-items: center;
  }
  .comment{
    align-self: normal;
    & textarea:focus{
      height:70vh;
      width: 100vw;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      box-shadow: shadow("blue");
    }
  }
}

