.container{
  width: 100%;
  background-color: #1b273c;
  display: flex;
  flex-flow: column nowrap;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.containerOdd{
  background-color: #151e2d;
  text-align: end;
}
.content{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.contentOdd{
  flex-direction: row-reverse;
}
.text{
  width: 50%;
}

.text h2{
  align-self: flex-start;
}
h1, h2{
  font-family: Impact, Charcoal, sans-serif;
  font-weight: normal;
}
img{
  width:50px;
  margin: 10px;
}

@media screen and (max-width: 500px){
  .content{
    font-size: 0.9em;
  }
  .text{
    width: initial;
  }

}
