@import '/src/scss/flex';
@import '/src/scss/media';

.container{
  width: min(500px, 80vw);
  @include flex(column nowrap, initial, initial);
  margin: 0 auto;
  margin-top: 30px;
}
.tile{
  width: 80%;
}
.tileOdd{
  align-self: flex-end;
}


@include tablet{
  .container{
    margin-top: 0;
  }
}
@include mobile{
  .tile{
    width: 90%;
  }
}
