.container{
  width: min(500px, 80vw);
  display: flex;
  flex-flow: column nowrap;
  margin-top: 30px;
}
.tile{
  width: 80%;
}
.tileOdd{
  align-self: flex-end;
}


@media screen and (max-width: 1000px){
  .container{
    margin-top: 0;
  }
}
@media screen and (max-width: 500px){
  .tile{
    width: 90%;
  }
}
