.container{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

.menu{
width: 650px;
height: 400px;
border-radius: 10px;
backdrop-filter: blur(0);
transition: 500ms all ease;
background-color: rgb(24, 33, 50);

}
.menuExpanded{
  width: 800px;
  height: 550px;
  overflow: hidden;
  transition: 500ms all ease;
}

.background{
  position: relative;
}
.background::after{
  content: '';
  width: 100vw;
  height:101%;
  position: absolute;
  top: 0;
  left: 0;
  background:  url('/assets/images/codeBg06.png') center/600px 200px repeat;
  opacity: 0.05;
  filter: grayscale(1);
}
