@import 'src/scss/flex';

pdf-viewer{
  width: min(1000px ,80vw);
  height: 80vh;
  display: block;
  position: relative;
  z-index: 100;
  overflow-x: hidden;
}

.pdf{
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  @include flex(column nowrap, flex-start);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transform-origin: 50% 0;
}

.buttons{
  width: 200px;
  @include flex(row nowrap, space-between);
}
