button{
  align-self: center;
  border-radius: 10px;
  font-family: Impact, Charcoal, sans-serif;
  padding: 10px;
  border: 1px solid white;
  box-shadow: none;
  transition: 500ms all ease;
  margin: 10px;
}
.warn{
  background-color: rgba(246, 26, 151, 0.2);
}
.warn:hover{
  background-color: rgb(246, 26, 151);
  box-shadow: 0 0 8px 0px rgb(246, 26, 151);
}
.success{
  background-color: rgba(110, 202, 255, 0.2)
}
.success:hover{
  background-color: rgb(110, 202, 255);
  box-shadow: 0 0 8px 0px rgb(110, 202, 255);
}
