@import "/src/scss/appearance";
@import "/src/scss/flex";
@import "/src/scss/fonts";
@import "/src/scss/media";

.container {
  @include flex(row nowrap, flex-start, initial);
  height: 550px;
  width: min(700px, 100vw);
  margin: 0 auto;
  border-radius: 10px;
  transition: 500ms all ease;
  background-color: background(3);
  position: relative;
  z-index: 1;
  padding: 30px;
  box-sizing: border-box;
  font-family: $clear;
}

.middle {
  @include flex(row nowrap, space-evenly);
  height: 100%;
}
.relatedItems {
  @include flex(column nowrap, flex-start, $rowGap: 10px);
  padding: 10px;
  border-radius: radius("regular");
  background-color: color("pink-trans");
  height: max-content;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: background(1) url("/assets/images/holeBg.png") center/135px
      140px repeat;
    z-index: -1;
    border-radius: border("regular");
    left: -15px;
    top: 14px;
  }
}
.selectedItem {
  @include flex($justify: space-between);
  border-radius: border("regular");
  background-color: background(1);
  padding: 10px;
  margin-left: 15px;
  position: relative;
}
.itemCard {
  border-radius: radius("regular");
  background-color: background(1);
  @include flex();
  box-shadow: none;
  height: 50px;
  width: 50px;
  z-index: 1;
  & img {
    width: 60%;
    height: 60%;
    border-radius: radius("circle");
  }
}
.selectedItemCard {
  width: 100px;
  height: 100px;
  margin: 0;
  background-color: color("blue");
  box-shadow: shadow("blue");
}

.selectedItemProperties {
  font-family: $impact;
  height: max-content;
  width: 200px;
  border-radius: radius("regular");
  position: relative;
  align-self: flex-start;
  z-index: 1;
}
.description {
  text-align: center;
  padding: 6px;
  @include flex(column nowrap, space-between, initial);
  width: 100%;
}
.selectedTitle {
  align-self: flex-start;
  font-family: $impact;
}
.textDescription {
  position: relative;
  text-align: left;
  padding: 20px;
  align-self: flex-end;
  width: 86%;
  border-radius: radius("regular");
  height: 200px;
  background-color: background(1);
  overflow: auto;
  white-space: pre-line;
}

.level {
  width: 60px;
  @include flex(row nowrap, space-between, flex-start);
  & span:nth-child(1) {
    margin-left: 23px;
    margin-right: 3px;
  }
}

.buttons {
  @include flex(row nowrap, space-between);
  width: max-content;
  align-self: center;
}

@include tablet {
  .container {
    height: max-content;
    width: 100vw;
    margin-bottom: max(50px, calc(100vh - 800px));
  }
  .selectedItemCard {
    margin-bottom: 10px;
  }
  .textDescription {
    margin: 20px 0 0 15px;
    align-self: initial;
    width: initial;
    max-width: 86%;
    line-height: 1.3em;
  }
  .techCategories {
    align-self: center;
    @include flex($justify: initial, $align: initial, $columnGap: 10px);
    margin-top: 20px;
  }
}
@include mobile {
  .selectedItem {
    flex-flow: column nowrap;
  }
  .selectedItemCard {
    align-self: flex-start;
  }
}
