
<div class="container" *ngIf="!!selected">

    <div class="relatedItems" *ngIf="!!techFamily.length">
      <div class="itemCard" *ngFor="let item of techFamily; let i = index" (click)="clickCard(item, i)"   [@setNewSelected]="{value : item.isSelected, params : {verticalModifier : verticalPositionModifier}}">
        <img [attr.src]="item.imageUrl" alt="">
      </div>
    </div>
    <div class="description">
      <div class="selectedItem" >
        <div class="itemCard selectedItemCard" *ngIf="!!selected" [@removeSelected]="{value : selected.isSelected, params : {verticalModifier : verticalPositionModifier}}">
          <img [attr.src]="selected.imageUrl" alt="">
        </div>

        <p class="selectedTitle">{{selected?.name}}</p>

        <div class="selectedItemProperties">
          <div class="level">
            <span>Level: </span>
            <app-rating-indicator [length]="3" [points]="selected.itemLevel"></app-rating-indicator>
          </div>
          <app-percentage-indicator [percentage]="selected.percentage"></app-percentage-indicator>
        </div>
      </div>

      <div *ngIf="isMobile" class="techCategories">
        <div class="itemCard" *ngFor="let item of categories" (click)="setCategory(item)">
          <img [attr.src]="item.imageUrl" alt="">
        </div>
      </div>

      <div class="textDescription">
        {{selected?.description}}

      </div>
      <div class="buttons">
        <app-button routerLink="/techMap" type="warn" label="Vissza"></app-button>
        <app-button *ngIf="this.selected.fileUrl" (click)="openPdf()" type="success" label="PDF megnyitása"></app-button>
      </div>
    </div>
  </div>
