
@mixin flex($flow: row wrap, $justify: center, $align: center, $columnGap: 0, $rowGap: 0){
  display: flex;
  flex-flow: $flow;
  justify-content: $justify;
  align-items: $align;
  column-gap: $columnGap;
  row-gap: $rowGap;
}
